nav ul {
    display: flex;
    justify-content: right;
    list-style-type: none;
    padding: 0;
}
nav ul li {
    margin: 15px;
}
nav ul li a {
    color:red;
    text-decoration: none;
    padding: 5px 10px;
    text-align: right;
}
nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}
h1{
  text-align: center;
  font-size: 50px;
  box-shadow: 2px black;
}
div h2{
  font-size: 50px;
  color: #555;
  text-align: center;
}
div img{
  width: 40%;
  height: auto;
  text-align: left;
}
div #bike{
  width: 55%;
  text-align: right;
  height: auto;
}
div p{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
  color: black;
}
